.gradle
.idea
build
.env
.env.local
local.properties
*.log
uploads
**/uploads
app/src/
app/build/
app/local.properties
app/.gradle/
app/.kotlin/
app/.idea/
app/google-services.json
.git
.github
.cursor
.kotlin
